@mixin flex-center {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
