.benefits{
	.diagonal{
		height: 100px;
		width: 100vw;
		margin-top: -50px;
		background-color: #FFC082;
		transform: rotate(4deg);
	}

  .benefits-inner{
    width: 100vw;
		background-color: #FFC082;
		margin-top: -50px;
		padding-top: 50px;
    .column{
			@include flex-center;
			z-index: 3;
      text-align: center;
			font-family: $main
    }

		.benefit-icon{
			max-width: 150px;
			height: auto;
		}
  }
}

.benefit-details{
  @include flex-column;
  max-width: 1200px;
  text-align: left;

	.benefit-details-inner {
		summary{
			text-align: right;
			padding-top: 30px;
		}
		.bene-list-item{
			list-style: circle;
			margin-left: 30px;

			&.last{
				padding-bottom: 15px;
			}
		}
	}
}
