.header{
  padding-top: 15px;
  padding-bottom: 15px;
  height: 150px;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
}

.header-left{
  width: 30%;
}

.header-right{
  padding-top: 0px;
  width: 70%;
  ul {
    max-width: 700px;
    list-style: none;
    font-family: $header;
    font-size: 20px;
    padding-top: 10px;
    text-align: right;
    li{
      display: inline-block;
      padding: 10px;
      position: relative;
      a{
        text-decoration: none;
        color: black;
      } // end a
    } // end li
  } // end ul
}

#logo{
  width: 400px;
  height: auto;
}
