.landing-page{
  padding-top: 90px;
  
  .landing-page-inner{
    @include flex-center;
    background-image: url('/src/images/underwater-bg.jpg');
    background-size: cover;
    max-width: 1200px;
    height: 560px;

    .landing-text{
      max-width: 700px;
      color: white;
      font-family: $main;
      font-weight: 400;
    }
    .accent{
      font-family: $accent;
      color: white;
    }

    .landing-request {
      @extend .landing-text;
      padding-top: 20px;
      a {
        color: white;
        font-family: $main;
        text-decoration: underline;
      }
    }
  }
}
