.main-content {
  padding-top: 25px;
}

.details{
  @include flex-center;
  @include detail-section;
  display: flex !important;
  text-align: left;

	footer{
		text-align: right;
		padding-top: 30px;
    width: 90vw;
    max-width: 1200px;
	}
	.list-item{
		margin-left: 30px;
	}

  & h2 {
    padding-top: 20px;
  }
}

.details-logo {
  @include detail-section;
  width: 100%;
  display: flex;
  justify-content: center;

  .cert-wrapper{
    width: 75vw;
    display: flex;
    justify-content: space-around;
  }

  figure{
    @include flex-center;
    text-align: center;
    margin-bottom: 40px;
  }

  img {
    height: 150px;
  }
}

.icon-wrapper {
  background: $dark_blue;

  & h2 {
    text-align: center;
    padding-bottom: 25px;

    &.active{
      text-decoration: underline;
      font-weight: bold;
    }

  }
  & figure {
    @include flex-center;
  }
  & img{
	  max-width: 150px;
  }
}

.nav{
  font: $header;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px !important;
  border-bottom: 5px solid #000;

  .block:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .subtitle:not(:last-child), .table, .title:not(:last-child){
    margin-bottom: 0px;
  }

  .active{
    border-top: 5px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    padding: 20px;
  }
  .navItem:not(.active){
    border-bottom: 5px solid #000;
  }
}

.info-block {
  background: $dark_blue;
  margin-top: -10px;
  padding-top: 60px;
  padding-bottom: 60px;

  .testimonial {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1.5em;

    .quote {
      display: flex;
      flex-flow: column;
      justify-content: center;

      & > dt:last-of-type{
        font-size: 1.2rem;
      }
    }
  }

  figure {
    max-width: 250px;
    @include flex-center;

    .subtitle{
      margin-bottom: 0px;
    }
  }

  img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }

  a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }
}
