#logo{
  height: 80px;
  width: auto;
}

.nav{
  padding-left: 20px;
  padding-right: 30px;
  z-index: 10 !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  position: fixed !important;
  width: 100vw;
  
  .nav-right {
    .nav-item {
      padding-left: 10px;
      &:hover {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }

  .nav-toggle {
    margin-top: 15px;
  }
}
