#logo{
  height: 80px;
  width: auto;
}

.nav{
  padding-left: 20px;
  padding-right: 30px;

  .nav-right {
    .nav-item {
      padding-left: 10px;
      &:hover {
        text-decoration: underline;
        font-family: $accent;
        font-weight: bold;
        padding-left: 17px;
      }
      &.ph:hover{
        padding-left: 32px;
      }
    }
  }

  .nav-toggle {
    margin-top: 15px;
  }
}
