$main: 'Quicksand', sans-serif;
$accent: 'Pacifico', cursive;
$header: 'Josefin Slab', serif;

$font-large-x:  1.8em;
$font-large:  1.6em;
$font-medium:  1.4em;
$font-small : 1.25em;
$font-small-x : 0.95em;
