body {
  margin: 0px;
}

.hide {
  display: none;
}

.accent {
  font-family: $accent;
}

.header {
  font-family: $header;
  font-style: italic;
}

.clickable {
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: initial;
  z-index: 5;
}

dl {
  width: 90vw;
}
dt {
  font: $main;
  line-height: 2.25em;
  &.list-item {
    line-height: 1.25em;
    padding-top: .25em;
    padding-bottom: .25em;
    i {
      padding-right: .5em;
      padding-top: .1em;
    }
  }
}
