.landing-page{
  padding-bottom: 20px;

  #logo{
    height: 80px;
    width: auto;

    @media (max-width: 600px) {
      display: none;
    }
  }

  .landing-page-inner{
    @include flex-center;
    background-image: url('/images/underwater-bg.jpg');
    background-size: cover;
    max-width: 1200px;
    height: 560px;

    .landing-text{
      max-width: 700px;
      color: white;
      font-family: $main;
      font-weight: 400;

      @media (max-width: 769px) {
        padding-left: 1rem;
        &.title {
          font-size: 2rem;
          text-shadow: 0.1rem 0.1rem 0.1rem black;
        }
      }
    }

    .landing-request {
      @extend .landing-text;
      a {
        color: white;
        font-family: $main;
        text-decoration: underline;
      }
    }
  }
}
