.landing-page{
  padding-bottom: 20px;

  #logo{
    height: 80px;
    width: auto;
  }

  .landing-page-inner{
    @include flex-center;
    background-image: url('/images/underwater-bg.jpg');
    background-size: cover;
    max-width: 1200px;
    height: 560px;

    .landing-text{
      max-width: 700px;
      color: white;
      font-family: $main;
      font-weight: 400;
    }

    .landing-request {
      @extend .landing-text;
      a {
        color: white;
        font-family: $main;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 769px) {
  .landing-page-inner {
    .landing-text {
      padding-left: 1rem;
      &.title {
        font-size: 2rem;
        text-shadow: 0.1rem 0.1rem 0.1rem black;
      }
    }
  }
}
@media (max-width: 600px) {
  #logo{
    display: none;
  }
}
