.main-content {
  padding-top: 25px;
}

.details{
  @include flex-center;
  @include detail-section;
  display: flex !important;
  text-align: left;

	footer{
		text-align: right;
		padding-top: 30px;
    width: 90vw;
    max-width: 1200px;
	}
	.list-item{
		margin-left: 30px;
	}

  & h2 {
    padding-top: 20px;
  }
}

.details-logo {
  @include detail-section;
  width: 100%;
  display: flex;
  justify-content: center;

  .cert-wrapper{
    width: 75vw;
    display: flex;
    justify-content: space-around;
  }

  figure{
    @include flex-center;
    text-align: center;
    margin-bottom: 40px;
  }

  img {
    height: 150px;
  }
}

.icon-wrapper {
  background: $blue-light;

  & h2 {
    text-align: center;
    padding-bottom: 25px;

    &.active{
      text-decoration: underline;
      font-weight: bold;
    }

  }
  & figure {
    @include flex-center;
  }
  & img{
	  max-width: 150px;
  }
}

@media (max-width: 795px) {
  .icon-wrapper h2.title {
    font-size: 1.8em;
  }
}
@media (max-width: 685px) {
  .icon-wrapper {
    img {
      max-width: 120px;
    }
    h2.title {
      font-size: 1.6em;
    }
  }
}
@media (max-width: 615px) {
  .icon-wrapper h2.title {
      font-size: 1.4em;
  }
}
@media (max-width: 550px) {
  .icon-wrapper h2.title {
      font-size: 1.25em;
  }
}
@media (max-width: 495px) {
  .icon-wrapper {
    img {
      max-width: 90px;
    }
    h2.title {
      font-size: 0.95em;
    }
  }
}
