.main-content {
  padding-top: 25px;
}

.details{
  @include flex-center;
  @include detail-section;
  display: flex !important;
  text-align: left;

  footer{
    text-align: right;
    padding-top: 30px;
    width: 90vw;
    max-width: 1200px;
  }
  .list-item{
    margin-left: 30px;
  }

  & h2 {
    padding-top: 20px;
  }
}

.details-logo {
  @include detail-section;
  width: 100%;
  display: flex;
  justify-content: center;

  .cert-wrapper{
    width: 75vw;
    display: flex;
    justify-content: space-around;

    @media (max-width: 600px) {
      width: 90vw;
    }

    .subtitle {
      @media (max-width: 795px) {
        font-size: $font-large-x;
      }
      @media (max-width: 685px) {
        font-size: $font-large;
      }
      @media (max-width: 615px) {
        font-size: $font-medium;
      }
      @media (max-width: 550px) {
        font-size: $font-small;
      }
      @media (max-width: 495px) {
        font-size: $font-small-x;
      }
    }
  }

  figure{
    @include flex-center;
    text-align: center;
    margin-bottom: 40px;
  }

  img {
    height: 150px;
  }
}

.icon-wrapper {
  background: $blue-light;

  & h2.title {
    text-align: center;
    padding-bottom: 25px;

    &.active{
      text-decoration: underline;
      font-weight: bold;
    }

    @media (max-width: 795px) {
      font-size: $font-large-x;
    }
    @media (max-width: 685px) {
      font-size: $font-large;
    }
    @media (max-width: 615px) {
      font-size: $font-medium;
    }
    @media (max-width: 550px) {
      font-size: $font-small;
    }
    @media (max-width: 495px) {
      font-size: $font-small-x;
    }
  }
  & figure {
    @include flex-center;
  }
  & img{
    max-width: 150px;
    cursor: pointer;

    @media (max-width: 685px) {
      max-width: 120px;
    }
    @media (max-width: 495px) {
      max-width: 90px;
    }
  }
}
