.mobile-nav {
  display: none;
  @media (max-width: 600px) {
    font: $header;
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
  }
}
#mobile-logo{
  height: 50px;
  width: auto;
}

.nav:not(.mobile-nav){
  font: $header;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px !important;
  border-bottom: 5px solid #000;
  @media (max-width: 960px) {
    max-width: 769px;
    margin: 0 auto;
  }
  @media (max-width: 600px) {
    display: none;
  }

  .subtitle {
    @media (max-width: 1192px) {
      font-size: 1.75rem;
    }
    @media (max-width: 960px) {
      font-size: 1.3rem;
    }
    @media (max-width: 769px) {
      font-size: 1rem;
    }
  }

  .block:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .subtitle:not(:last-child), .table, .title:not(:last-child){
    margin-bottom: 0px;
  }

  .active{
    border-top: 5px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    padding: 20px;
  }
  .navItem:not(.active){
    border-bottom: 5px solid #000;
  }
}
