.info-block {
  background: $blue-light;
  margin-top: -10px;
  padding: 60px 10%;

  .testimonial {
    padding-bottom: 1.5em;
    @media (max-width: 768px){
      display: inline-flex;
    }

    .quote {
      display: flex;
      flex-flow: column;
      justify-content: center;

      & > dt:last-of-type{
        font-size: 1.2rem;
      }
    }
  }

  figure {
    @include flex-center;
    max-width: 250px;
    @media (max-width: 768px){
      max-width: 120px;
      align-items: initial;
    }

    .subtitle{
      margin-bottom: 0px;
    }
  }

  img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }

  a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }

  form {
    .control.is-grouped>.control.is-expanded:first-of-type {
      flex-grow: inherit;
    }
  }
}
